{% extends 'base.html' %}

{% block title %}タグ一覧 | {{ block.super }}{% endblock %}
{% block description %}文目卓弥のブログです。やっていき。{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <main class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <h1>タグ一覧</h1>
                    <ul>
                        {% for tag in object_list %}
                        <li><a href="{% url 'blog:tag_post' tag.slug %}">{{ tag.name }} ({{ tag.num_posts }})</a></li>
                        {% empty %}
                        <li>タグはありません。</li>
                        {% endfor %}                    </ul>
                </div>
            </div>
        </main>
        
        <aside class="col-md-4">
            {% include "blog/snippets/sidebar.html" %}
        </aside>
    </div>
</div>


{% endblock %}